h2 {
    font-size: 28px;
}
h1 {
    font-size: 36px;
}
span {
    color: gray;
}
img {
    width: 211px;
    height: 215px;
}
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
